body {
    background-color: #5d5d5d;
    display: flex;
    justify-content: center;
}
$vwMultiplier: .8;
// Вращение головы
@keyframes volhuman-walking-head {
    0%, 100% {
        transform: 
            rotateY(-15deg)
            translateY(-8vw*$vwMultiplier);
    }
    50% {
        transform:
            rotateY(15deg)
            translateY(-8vw*$vwMultiplier);
    }
}
// Движение рук
@keyframes volhuman-walking-hand-left {
    0%, 100% {
        transform: 
            rotateX(-10deg)
            translateX(-4vw*$vwMultiplier);
    }
    50% {
        transform: 
            rotateX(10deg)
            translateX(-4vw*$vwMultiplier);
    }
}
@keyframes volhuman-walking-hand-right {
    0%, 100% {
        transform: 
            rotateX(10deg)
            translateX(8vw*$vwMultiplier);
    }
    50% {
        transform: 
            rotateX(-10deg)
            translateX(8vw*$vwMultiplier);
    }
}
// Движение ног
@keyframes volhuman-walking-leg-left {
    0%, 100% {
        transform:
            rotateX(-10deg)
            translateX(4vw*$vwMultiplier)
            translateY(12.2vw*$vwMultiplier)
            translateZ(2vw*$vwMultiplier)
            ;
    }
    50% {
        transform:
            rotateX(10deg)
            translateX(4vw*$vwMultiplier)
            translateY(12.2vw*$vwMultiplier)
            translateZ(-2vw*$vwMultiplier)
            ;
    }
}
@keyframes volhuman-walking-leg-right {
    0%, 100% {
        transform: 
            rotateX(10deg)
            translateX(0vw*$vwMultiplier)
            translateY(12.2vw*$vwMultiplier)
            translateZ(-2vw*$vwMultiplier)
            ;
    }
    50% {
        transform: 
            rotateX(-10deg)
            translateX(0vw*$vwMultiplier)
            translateY(12.2vw*$vwMultiplier)
            translateZ(2vw*$vwMultiplier)
            ;
    }
}
// Миксин выбора анимации для каждого меша
@mixin volhuman-animation($animation, $meshName) {
    @if($animation == 'walking') {
        &--walking {
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            @if($meshName == 'head') {
                animation-name: volhuman-walking-head;
            }
            @else if($meshName == 'hand--left') {
                animation-name: volhuman-walking-hand-left;
            }
            @else if($meshName == 'hand--right') {
                animation-name: volhuman-walking-hand-right;
            }
            @else if($meshName == 'leg--left') {
                animation-name: volhuman-walking-leg-left;
            }
            @else if($meshName == 'leg--right') {
                animation-name: volhuman-walking-leg-right;
            }
        }
    }
}

// Миксин размера плоскостей мешей
@mixin rect-size($parentMesh, $rectSize) {
    @if ($parentMesh == 'head') {
        @if ($rectSize == 'equal') {
            height: 8vw*$vwMultiplier;
            width: 8vw*$vwMultiplier;
        }
    }
    @else if ($parentMesh == 'body') {
        @if ($rectSize == 'wide') {
            height: 12vw*$vwMultiplier;
            width: 8vw*$vwMultiplier;
        } @else if ($rectSize == 'narrow') {
            height: 12vw*$vwMultiplier;
            width: 4vw*$vwMultiplier;
        } @else if ($rectSize == 'small') {
            height: 4vw*$vwMultiplier;
            width: 8vw*$vwMultiplier;
        }
    }
    @else if ($parentMesh == 'limb') {
        @if ($rectSize == 'wide') {
            height: 12vw*$vwMultiplier;
            width: 4vw*$vwMultiplier;
        } @else if ($rectSize == 'narrow') {
            height: 12vw*$vwMultiplier;
            width: 4vw*$vwMultiplier;
        } @else if ($rectSize == 'small') {
            height: 4vw*$vwMultiplier;
            width: 4vw*$vwMultiplier;
        }
    }
}

// Сцена с 3D моделями
.volscene {
    grid-column: 2;
    position: relative;
    height: 40vw*$vwMultiplier;
    width: 40vw*$vwMultiplier;
    font-size: 12px;
    background-image: radial-gradient(center, #ffffff3b 0% 20%, transparent 70% 100%);
}

// 3D Объект
.volmodel {
    position: absolute;    
    display: flex;
    flex-direction: column;
    justify-content: center;

    //  Делаю все 3D объекты под углом
    transform-style: preserve-3d;
    transform: 
        rotateX(-45deg)
        rotateY(-45deg);
}

// Меш 3D объекта
.mesh {
    transform-style: preserve-3d;
    &__rect {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        image-rendering: pixelated;
        border: 1px solid #ffffff;
        background-color: #05a500b5;
    }
}

// 3D Человек
.volhuman {
    bottom: 5vw*$vwMultiplier;
    right: 16vw*$vwMultiplier;
    width: 8vw*$vwMultiplier;
    height: inherit;

    // Голова
    &__head {
        z-index: 6;
        transform: translateY(-8vw*$vwMultiplier); // Положение относительно тела
        @include volhuman-animation('walking', 'head');

        &-rect {
            &--front {
                @include rect-size("head", "equal");
                transform: translateZ(4vw*$vwMultiplier);
                background-image: url('face.gif');
            }
            &--back {
                @include rect-size("head", "equal");
                transform: translateZ(-4vw*$vwMultiplier);
            }
            &--top {
                @include rect-size("head", "equal");
                transform: translateY(-4vw*$vwMultiplier) rotateX(-90deg);
            }
            &--bottom {
                @include rect-size("head", "equal");
                transform: translateY(4vw*$vwMultiplier) rotateX(90deg);
            }
            &--right {
                @include rect-size("head", "equal");
                transform: translateX(4vw*$vwMultiplier) rotateY(-90deg);
            }
            &--left {
                @include rect-size("head", "equal");
                transform: translateX(-4vw*$vwMultiplier) rotateY(90deg);
            }
        }
    }

    // Тело
    &__body {
        z-index: 5;

        &-rect {
            &--front {
                @include rect-size("body", "wide");
                transform: translateZ(2vw*$vwMultiplier);
            }
            &--back {
                @include rect-size("body", "wide");
                transform: translateZ(-2vw*$vwMultiplier);
            }
            &--top {
                @include rect-size("body", "small");
                transform: translateY(-2vw*$vwMultiplier) rotateX(-90deg);
            }
            &--bottom {
                @include rect-size("body", "small");
                transform: translateY(10vw*$vwMultiplier) rotateX(90deg);
            }
            &--right {
                @include rect-size("body", "narrow");
                transform: translateX(6vw*$vwMultiplier) rotateY(-90deg);
            }
            &--left {
                @include rect-size("body", "narrow");
                transform: translateX(-2vw*$vwMultiplier) rotateY(90deg);
            }
        }
    }

    // Руки
    &__hand {
        &--left {
            z-index: 4;
            transform: translateX(-4vw*$vwMultiplier);// Положение относительно тела
            @include volhuman-animation('walking', 'hand--left');
        }
        &--right {
            z-index: 5;
            transform: translateX(8vw*$vwMultiplier); // Положение относительно тела
            @include volhuman-animation('walking', 'hand--right');
        }

        &-rect {
            &--front {
                @include rect-size("limb", "wide");
                transform: translateZ(2vw*$vwMultiplier);
            }
            &--back {
                @include rect-size("limb", "wide");
                transform: translateZ(-2vw*$vwMultiplier);
            }
            &--top {
                @include rect-size("limb", "small");
                transform: translateY(-2vw*$vwMultiplier) rotateX(-90deg);
            }
            &--bottom {
                @include rect-size("limb", "small");
                transform: translateY(10vw*$vwMultiplier) rotateX(90deg);
            }
            &--right {
                @include rect-size("limb", "narrow");
                transform: translateX(2vw*$vwMultiplier) rotateY(-90deg);
            }
            &--left {
                @include rect-size("limb", "narrow");
                transform: translateX(-2vw*$vwMultiplier) rotateY(90deg);
            }
        }
    }

    // Ноги
    &__leg {
        &--left {
            z-index: 2;
            // Положение относительно тела
            transform: 
                translateX(0vw*$vwMultiplier)
                translateY(12vw*$vwMultiplier);
            @include volhuman-animation('walking', 'leg--left');
            }
        &--right {
            z-index: 3;
            // Положение относительно тела
            transform: 
                translateX(4vw*$vwMultiplier)
                translateY(12vw*$vwMultiplier);
            @include volhuman-animation('walking', 'leg--right');
        }

        &-rect {
            &--front {
                @include rect-size("limb", "wide");
                transform: translateZ(2vw*$vwMultiplier);
            }
            &--back {
                @include rect-size("limb", "wide");
                transform: translateZ(-2vw*$vwMultiplier);
            }
            &--top {
                @include rect-size("limb", "small");
                transform: translateY(-2vw*$vwMultiplier) rotateX(-90deg);
            }
            &--bottom {
                @include rect-size("limb", "small");
                transform: translateY(10vw*$vwMultiplier) rotateX(90deg);
            }
            &--right {
                @include rect-size("limb", "narrow");
                transform: translateX(2vw*$vwMultiplier) rotateY(-90deg);
            }
            &--left {
                @include rect-size("limb", "narrow");
                transform: translateX(-2vw*$vwMultiplier) rotateY(90deg);
            }
        }
    }
}