$volsceneColor: #666666;
$tshortColor: #4B5BABFF;
$pantsColor: #473B78FF;
$skinColor: #FFB570FF;
$hairColor: #422445FF;

// * Управление размерами
// Множитель для функции умножения единиц измерения
:root {
    --unit-multiplier: 1.8vw;
}

// um сокр. — unit multiplication — функция умножения единиц измерения
@function um($num) {
    @return calc(#{$num} * var(--unit-multiplier));
}

body {
    background-color: $volsceneColor;
    display: flex;
    justify-content: center;
}

// * Анимация Walking
// Вращение головы
@keyframes volhuman-walking-head {
    0%, 100% {
        transform: 
            rotateY(-15deg)
            translateY(um(-8));
    }
    50% {
        transform:
            rotateY(15deg)
            translateY(um(-8));
    }
}
// Движение рук
@keyframes volhuman-walking-hand-left {
    0%, 100% {
        transform: 
            rotateX(10deg)
            translateX(um(8));
    }
    50% {
        transform: 
            rotateX(-10deg)
            translateX(um(8));
    }
}
@keyframes volhuman-walking-hand-right {
    0%, 100% {
        transform: 
            rotateX(-10deg)
            translateX(um(-4));
    }
    50% {
        transform: 
            rotateX(10deg)
            translateX(um(-4));
    }
}
// Движение ног
@keyframes volhuman-walking-leg-left {
    0%, 100% {
        transform:
            rotateX(-10deg)
            translateX(um(4))
            translateY(um(12.2))
            translateZ(um(2))
            ;
    }
    50% {
        transform:
            rotateX(10deg)
            translateX(um(4))
            translateY(um(12.2))
            translateZ(um(-2));
        }
    }
@keyframes volhuman-walking-leg-right {
    0%, 100% {
        transform: 
            rotateX(10deg)
            translateX(0)
            translateY(um(12.2))
            translateZ(um(-2));
    }
    50% {
        transform: 
            rotateX(-10deg)
            translateX(0)
            translateY(um(12.2))
            translateZ(um(2));
    }
}

// * Анимация Lightsaber

@keyframes volhuman-lightsaber-hand-right {
    0%, 100% {
        transform: 
            rotateX(0deg)
            translateX(um(-4))
    }
    50% {
        transform: 
            rotateX(90deg)
            translateY(um(-1))
            translateX(um(-4))
            translateZ(um(-3));

    }
}
@keyframes volhuman-lightsaber-blade {
    0% {
        transform:
            scaleY(0)
            translateY(um(2))
            translateX(um(.5)); // Положение относительно родителя
    }
    100% {
        transform: 
            scaleY(1)
            translateY(um(2))
            translateX(um(.5)); // Положение относительно родителя
    }
}


// Миксин выбора анимации для каждого меша
@mixin volhuman-animation($meshName) {
    &--walking {
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        @if($meshName == 'head') {
            animation-name: volhuman-walking-head;
        }
        @else if($meshName == 'hand--left') {
            animation-name: volhuman-walking-hand-left;
        }
        @else if($meshName == 'hand--right') {
            animation-name: volhuman-walking-hand-right;
        }
        @else if($meshName == 'leg--left') {
            animation-name: volhuman-walking-leg-left;
        }
        @else if($meshName == 'leg--right') {
            animation-name: volhuman-walking-leg-right;
        }
    }

    &--lightsaber {
        animation-timing-function: linear;
        
        @if($meshName == 'hand--right') {
            animation-duration: 1s;
            animation-delay: 2.5s;
            animation-iteration-count: infinite;
            animation-name: volhuman-lightsaber-hand-right;
        }
        @if($meshName == 'lightsaber-blade') {
            animation-duration: 2s;
            animation-name: volhuman-lightsaber-blade;
        }
    }
}

// Миксин размера плоскостей мешей
@mixin rect-size($parentMesh, $rectSize) {
    @if ($parentMesh == 'head') {
        @if ($rectSize == 'equal') {
            height: um(8);
            width: um(8);
        }
    }
    @else if ($parentMesh == 'body') {
        @if ($rectSize == 'wide') {
            height: um(12);
            width: um(8);
        } @else if ($rectSize == 'narrow') {
            height: um(12);
            width: um(4);
        } @else if ($rectSize == 'small') {
            height: um(4);
            width: um(8);
        }
    }
    @else if ($parentMesh == 'limb') {
        @if ($rectSize == 'wide') {
            height: um(12);
            width: um(4);
        } @else if ($rectSize == 'narrow') {
            height: um(12);
            width: um(4);
        } @else if ($rectSize == 'small') {
            height: um(4);
            width: um(4);
        }
    }
    @else if ($parentMesh == 'lightsaber-hilt') {
        @if ($rectSize == 'wide') {
            height: um(8);
            width: um(2);
        } @else if ($rectSize == 'narrow') {
            height: um(8);
            width: um(2);
        } @else if ($rectSize == 'small') {
            height: um(2);
            width: um(2);
        }
    }
    @else if ($parentMesh == 'lightsaber-blade') {
        @if ($rectSize == 'wide') {
            height: um(18);
            width: um(1);
        } @else if ($rectSize == 'narrow') {
            height: um(18);
            width: um(1);
        } @else if ($rectSize == 'small') {
            height: um(1);
            width: um(1);
        }
    }
}

// Сцена с 3D моделями
.volscene {
    grid-column: 2;
    position: relative;
    height: um(40);
    width: um(40);
    font-size: 12px;
    background-image: radial-gradient(center, #ffffff3b 0% 20%, transparent 70% 100%);
}

// 3D Объект
.volmodel {
    position: absolute;    
    display: flex;
    flex-direction: column;
    justify-content: center;

    //  Делаю все 3D объекты под углом
    transform-style: preserve-3d;
    transform: 
        rotateX(-45deg)
        rotateY(-45deg);
}

// Меш 3D объекта
.mesh {
    transform-style: preserve-3d;
    &__rect {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        image-rendering: pixelated;
        border: um(.01) solid #a5a5a5;
        // background-color: #05a500b5;
    }
}

// 3D Человек
.volhuman {
    bottom: um(5);
    right: um(16);
    width: um(8);
    height: inherit;

    // Голова
    &__head {
        z-index: 6;
        transform: translateY(um(-8)); // Положение относительно тела
        @include volhuman-animation('head');

        &-rect {
            &--front {
                @include rect-size("head", "equal");
                transform: translateZ(um(4));
                background-image: url('face.gif');
            }
            &--back {
                @include rect-size("head", "equal");
                transform: translateZ(um(-4));
                background-image: url('headBack.png');
            }
            &--top {
                @include rect-size("head", "equal");
                transform: translateY(um(-4)) rotateX(-90deg);
                background-color: $hairColor;
            }
            &--bottom {
                @include rect-size("head", "equal");
                transform: translateY(um(4)) rotateX(90deg);
                background-color: $skinColor;
            }
            &--right {
                @include rect-size("head", "equal");
                transform: translateX(um(4)) rotateY(90deg);
                background-image: url('headSide.png');
            }
            &--left {
                @include rect-size("head", "equal");
                transform: translateX(um(-4)) rotateY(90deg);
                background-image: url('headSide.png');
            }
        }
    }

    // Тело
    &__body {
        z-index: 5;
        &-rect {
            @mixin textureMixin {
                background-image: 
                linear-gradient(180deg,
                    $tshortColor 0 um(10),
                    $pantsColor um(10) um(12)
                );
            }

            &--front {
                @include rect-size("body", "wide");
                transform: translateZ(um(2));
                @include textureMixin;
            }
            &--back {
                @include rect-size("body", "wide");
                transform: translateZ(um(-2));
                @include textureMixin;
            }
            &--top {
                @include rect-size("body", "small");
                transform: translateY(um(-2)) rotateX(-90deg);
            }
            &--bottom {
                @include rect-size("body", "small");
                transform: translateY(um(10)) rotateX(90deg);
                background-color: $pantsColor;
            }
            &--right {
                @include rect-size("body", "narrow");
                transform: translateX(um(6)) rotateY(-90deg);
                @include textureMixin;
            }
            &--left {
                @include rect-size("body", "narrow");
                transform: translateX(um(-2)) rotateY(90deg);
                @include textureMixin;
            }
        }
    }

    // Руки
    &__hand {
        &--left {
            z-index: 5;
            transform: translateX(um(8)); // Положение относительно тела
            @include volhuman-animation('hand--left');
        }
        &--right {
            z-index: 4;
            transform: translateX(um(-4));// Положение относительно тела
            @include volhuman-animation('hand--right');
        }

        &-rect {
            @mixin textureMixin {
                background-image: 
                linear-gradient(180deg,
                    $tshortColor 0 um(4),
                    $skinColor um(4) um(12)
                );
            }
            &--front {
                @include rect-size("limb", "wide");
                transform: translateZ(um(2));
                @include textureMixin;
            }
            &--back {
                @include rect-size("limb", "wide");
                transform: translateZ(um(-2));
                @include textureMixin;
            }
            &--top {
                @include rect-size("limb", "small");
                transform: translateY(um(-2)) rotateX(-90deg);
                background-color: $tshortColor;
            }
            &--bottom {
                @include rect-size("limb", "small");
                transform: translateY(um(10)) rotateX(90deg);
                background-color: $skinColor;
            }
            &--right {
                @include rect-size("limb", "narrow");
                transform: translateX(um(2)) rotateY(-90deg);
                @include textureMixin;
            }
            &--left {
                @include rect-size("limb", "narrow");
                transform: translateX(um(-2)) rotateY(90deg);
                @include textureMixin;
            }
        }
    }

    // Световой меч
    &__lightsaber {
        z-index: inherit;
        transform: 
            rotateX(90deg)
            translateX(um(1))
            translateZ(um(-10))
            translateY(um(2)); // Положение относительно родителя

        // Рукоять
        &-hilt {
            transform: 
            translateY(um(-6)); // Положение относительно родителя
            &-rect {
                background-color: #525252;
    
                &--front {
                    @include rect-size("lightsaber-hilt", "wide");
                    transform: translateZ(um(1));
                }
                &--back {
                    @include rect-size("lightsaber-hilt", "wide");
                    transform: translateZ(um(-1));
                }
                &--top {
                    @include rect-size("lightsaber-hilt", "small");
                    transform: translateY(um(7)) rotateX(90deg);
                    box-shadow: none; 
                }
                &--right {
                    @include rect-size("lightsaber-hilt", "narrow");
                    transform: translateX(um(1)) rotateY(-90deg);
                }
                &--left {
                    @include rect-size("lightsaber-hilt", "narrow");
                    transform: translateX(um(-1)) rotateY(90deg);
                }
            }
        }

        // Клинок
        &-blade {
            @include volhuman-animation('lightsaber-blade');
            transform: 
                translateY(um(2))
                translateX(um(.5)); // Положение относительно родителя
            &-rect {
                background-color: #ffdfed;
                box-shadow: 0 0 um(5) 0 #00d9ff;
    
                &--front {
                    @include rect-size("lightsaber-blade", "wide");
                    transform: translateZ(um(.5));
                }
                &--back {
                    @include rect-size("lightsaber-blade", "wide");
                    transform: translateZ(um(-.5));
                }
                &--top {
                    @include rect-size("lightsaber-blade", "small");
                    transform: translateY(um(17.5)) rotateX(90deg);
                    box-shadow: none; 
                }
                &--right {
                    @include rect-size("lightsaber-blade", "narrow");
                    transform: translateX(um(.5)) rotateY(-90deg);
                }
                &--left {
                    @include rect-size("lightsaber-blade", "narrow");
                    transform: translateX(um(-.5)) rotateY(90deg);
                }
            }
        }
    }

    // Ноги
    &__leg {
        &--left {
            z-index: 2;
            // Положение относительно тела
            transform: 
                translateX(um(4))
                translateY(um(12));
            @include volhuman-animation('leg--left');
        }
        &--right {
            z-index: 3;
            // Положение относительно тела
            transform: 
                translateX(0)
                translateY(um(12));
            @include volhuman-animation('leg--right');
        }

        &-rect {
            background-color: $pantsColor;
            &--front {
                @include rect-size("limb", "wide");
                transform: translateZ(um(2));
            }
            &--back {
                @include rect-size("limb", "wide");
                transform: translateZ(um(-2));
            }
            &--top {
                @include rect-size("limb", "small");
                transform: translateY(um(-2)) rotateX(-90deg);
            }
            &--bottom {
                @include rect-size("limb", "small");
                transform: translateY(um(10)) rotateX(90deg);
            }
            &--right {
                @include rect-size("limb", "narrow");
                transform: translateX(um(2)) rotateY(-90deg);
            }
            &--left {
                @include rect-size("limb", "narrow");
                transform: translateX(um(-2)) rotateY(90deg);
            }
        }
    }
}